table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    border: 1px solid black;
  }
  
  tr:last-child {
    border-bottom: 1px solid black;
  }
  